<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Document</title>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css"
      rel="stylesheet"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"
    />
  </head>

  <body>
    <div id="app">
      <v-app>
        <v-main>
          <v-container>
            <h1>LinkedList</h1>
            <v-divider></v-divider>
            <v-row>
              <v-col>
                <h2>Список</h2>
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                <v-sheet class="py-4 px-1">
                  <v-chip-group
                    v-model="selection"
                    mandatory
                    active-class="primary--text"
                  >
                    <v-chip
                      v-for="(item, index) in listLinked.toArray()"
                      :key="index"
                      :value="index"
                    >
                      {{item}}
                    </v-chip>
                  </v-chip-group>
                </v-sheet>
              </v-col>
            </v-row>
            <v-divider></v-divider>
            <v-row class="add_form d-flex justify-space-around">
              <v-col>
                <v-text-field
                  label="Новый элемент списка"
                  v-model.trim="newItem"
                ></v-text-field>
              </v-col>
              <v-col cols="2" class="d-flex justify-end">
                <v-btn class="add_btn" @click="addNewItem">Добавить</v-btn>
              </v-col>
              <v-divider vertical class="add_divider"></v-divider>
              <v-col>
                <v-btn class="delete_btn" @click="deleteItem">Удалить</v-btn>
              </v-col>
            </v-row>
            <v-row class="find_container">
              <v-col>
                <v-text-field
                  v-model.trim="searchItem"
                  label="List item"
                ></v-text-field>
              </v-col>
              <v-col>
                <v-btn class="search_btn" @click="findItem">Найти</v-btn>
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                <v-sheet class="py-4 px-1">
                  <v-chip-group mandatory>
                    <v-chip
                      v-for="(item, index) in searchResult"
                      :key="index"
                      :value="index"
                    >
                      {{item.data}}
                    </v-chip>
                  </v-chip-group>
                </v-sheet>
              </v-col>
            </v-row>
          </v-container>
        </v-main>
      </v-app>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script>
    class Node {
      constructor(data) {
        this.data = data;
        this.next = null;
      }
    }

    class LinkedList {
      constructor() {
        this.head = null;
        this.tail = null;
        this.length = 0;
      }

      appendFirst(value) {
        let node = new Node(value);
        node.next = this.head;
        this.head = node;
        if (this.isEmpty()) {
          this.tail = this.head;
        }
        this.length++;
      }

      push(value) {
        let node = new Node(value);
        if (this.isEmpty()) {
          this.head = node;
        } else {
          this.tail.next = node;
        }
        this.tail = node;
        this.length++;
      }

      add(value, index) {
        let node = new Node(value);
        let current = this.head;
        let previous = null;
        let count = 0;
        if (index === 0) {
          this.appendFirst(value);
        } else if (index === this.length) {
          this.push(value);
        } else {
          while (current) {
            if (count + 1 === index) {
              previous = current;
              current = current.next;
              node.next = current;
              previous.next = node;
            }
            count++;
            current = current.next;
          }
          this.length++;
        }
        return false;
      }

      remove(value) {
        if (this.isEmpty()) {
          return null;
        }

        let current = this.head;
        let previous = null;
        while (current) {
          if (current.data === value) {
            if (previous != null) {
              previous.next = current.next;
              if (current.next === null) {
                this.tail = previous;
              }
            } else {
              this.head = this.head.next;
              if (this.head === null) {
                this.tail = null;
              }
            }
            this.length--;
            return true;
          }
          previous = current;
          current = current.next;
        }
        return false;
      }

      removeFirst() {
        if (this.isEmpty()) {
          return false;
        }
        if (this.head === this.tail) {
          this.head = null;
          this.tail = null;
          this.length--;
          return true;
        } else {
          let current = this.head;
          this.head = current.next;
          this.length--;
          return true;
        }
        return false;
      }

      removeLast() {
        if (this.isEmpty()) {
          return false;
        }
        if (this.head === this.tail) {
          this.head = null;
          this.tail = null;
          this.length--;
          return true;
        } else {
          let current = this.head;
          let previous = null;
          while (current) {
            if (current.next === this.tail) {
              previous = current;
              break;
            }
            current = current.next;
          }
          previous.next = null;
          this.tail = previous;
          this.length--;
          return true;
        }
        return false;
      }

      clear() {
        while (this.length > 0) {
          this.removeLast();
        }
      }

      print() {
        let currnet = this.head;
        while (currnet) {
          console.log(`${currnet.data}`);
          currnet = currnet.next;
        }
      }

      isEmpty() {
        return this.length === 0;
      }

      getFirstElement() {
        return this.head;
      }

      getLastElement() {
        return this.tail;
      }

      toArray() {
        const nodes = [];
        let current = this.head;
        while (current) {
          nodes.push(current.data);
          current = current.next;
        }
        return nodes;
      }

      find(value) {
        if (this.isEmpty()) {
          return null;
        }
        let searchList = [];
        let current = this.head;
        while (current) {
          if (current.data === value) {
            searchList.push(current);
          }

          current = current.next;
        }

        return searchList;
      }
    }

    new Vue({
      el: "#app",
      vuetify: new Vuetify(),
      data: {
        selection: "",
        newItem: "",
        searchItem: "",
        searchResult: [],
        listLinked: new LinkedList(),
      },
      mounted() {
        for (let i = 0; i < 100; i++) {
          this.listLinked.push(i + 1);
        }
      },
      watch: {
        "listLinked.length": 'updateSerach'
      },
      methods: {
        addNewItem() {
          if (this.newItem) {
            if (/^(0|-?[1-9]\d{0,5})$/.test(this.newItem)) {
              this.listLinked.push(Number(this.newItem));
            } else {
              this.listLinked.push(this.newItem);
            }
          }
          this.newItem = "";
        },
        deleteItem() {
          if (this.selection === 0) {
            this.listLinked.removeFirst();
          } else if (this.selection === this.listLinked.length) {
            this.listLinked.removeLast();
          } else {
            this.listLinked.remove(this.listLinked.toArray()[this.selection]);
          }
        },
        findItem() {
          if (this.searchItem) {
            if (/^(0|-?[1-9]\d{0,5})$/.test(this.searchItem)) {
              this.searchResult = this.listLinked.find(Number(this.searchItem));
            } else {
              this.searchResult = this.listLinked.find(this.searchItem);
            }
          }
          this.searchItem = "";
        },
        updateSerach() {
          this.searchResult = [];
        },
      },
    });
  </script>
  <style>
    .add_form,
    .find_container {
      position: relative;
    }
    .add_btn,
    .delete_btn,
    .search_btn {
      position: absolute;
      top: 50%;
      transform: translateY(-49%);
    }
    .add_divider {
      height: 50px;
      transform: translateY(50%);
    }
  </style>
</html>
